streamlit
pandas
# sqlite3  # builtin, no install needed
gspread
oauth2client
requests
langchain
langchain-groq
langchain_community
langchain_core
streamlit_player
faiss-cpu  # or faiss-gpu if applicable
google-api-python-client
google-auth
